<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>ShopMessage React Developer Exercise</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div id="root"></div>

  <script type="text/javascript" src="/v1.0/{% if isProd %}1{% else %}vendor{% endif %}_vendor.chunk.js"></script>
  <script type="text/javascript" src="/v1.0/shopmsg_app.js"></script>
</body>
</html>
